html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle {
  pointer-events: auto;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

header label#time-filter {
  margin-left: auto;
}

header time,
header em {
  display: block;    /* put them on their own line */
}

header em {
  color: #777;       /* lighter color */
  font-style: italic;
}
